RewriteEngine On

# Allow real files/folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Service details URL
#RewriteRule ^service-details/([^/]+)$ service-details.php?slug=$1 [L,QSA]
#RewriteRule ^solution-details/([^/]+)$ solution-details.php?slug=$1 [L,QSA]
RewriteRule ^advance-courses advance-courses.php?slug=$1 [L,QSA]
RewriteRule ^beginner-courses beginner-courses.php?slug=$1 [L,QSA]
RewriteRule ^blog blog.php?slug=$1 [L,QSA]
RewriteRule ^course-topic-bonds course-topic-bonds.php?slug=$1 [L,QSA]
RewriteRule ^course-topic-commodities course-topic-commodities.php?slug=$1 [L,QSA]
RewriteRule ^course-topic-crypto course-topic-crypto.php?slug=$1 [L,QSA]
RewriteRule ^course-topic-ecomonics course-topic-ecomonics.php?slug=$1 [L,QSA]
RewriteRule ^course-topic-fundamentals course-topic-fundamentals.php?slug=$1 [L,QSA]
RewriteRule ^course-topic-futures course-topic-futures.php?slug=$1 [L,QSA]
RewriteRule ^course-topic-metal course-topic-metal.php?slug=$1 [L,QSA]
RewriteRule ^course-topic-stock course-topic-stock.php?slug=$1 [L,QSA]
RewriteRule ^course-topic-taxes course-topic-taxes.php?slug=$1 [L,QSA]
RewriteRule ^educator-advance educator-advance.php?slug=$1 [L,QSA]
RewriteRule ^educator-begginer educator-begginer.php?slug=$1 [L,QSA]
RewriteRule ^educator-intermediate educator-intermediate.php?slug=$1 [L,QSA]
RewriteRule ^educator-learn educator-learn.php?slug=$1 [L,QSA]
RewriteRule ^educator-margin-rates educator-margin-rates.php?slug=$1 [L,QSA]
RewriteRule ^educator-risk-management educator-risk-management.php?slug=$1 [L,QSA]
RewriteRule ^index index.php?slug=$1 [L,QSA]
RewriteRule ^interactive-learning interactive-learning.php?slug=$1 [L,QSA]
RewriteRule ^intermidiate-courses intermidiate-courses.php?slug=$1 [L,QSA]
RewriteRule ^trader-academy trader-academy.php?slug=$1 [L,QSA]
RewriteRule ^tutorial-commodities tutorial-commodities.php?slug=$1 [L,QSA]
RewriteRule ^tutorial-crypto tutorial-crypto.php?slug=$1 [L,QSA]
RewriteRule ^tutorial-forex tutorial-forex.php?slug=$1 [L,QSA]
RewriteRule ^tutorial-metals tutorial-metals.php?slug=$1 [L,QSA]
RewriteRule ^tutorial-shares tutorial-shares.php?slug=$1 [L,QSA]
RewriteRule ^tutorial-stocks tutorial-stocks.php?slug=$1 [L,QSA]
RewriteRule ^webinar-aired webinar-aired.php?slug=$1 [L,QSA]
RewriteRule ^webinar-contributor webinar-contributor.php?slug=$1 [L,QSA]
RewriteRule ^webinar-topic-ai-machine-learning webinar-topic-ai-machine-learning.php?slug=$1 [L,QSA]
RewriteRule ^webinar-topic-commodities webinar-topic-commodities.php?slug=$1 [L,QSA]
RewriteRule ^webinar-topic-crypto-currency webinar-topic-crypto-currency.php?slug=$1 [L,QSA]
RewriteRule ^webinar-topic-energy webinar-topic-energy.php?slug=$1 [L,QSA]
RewriteRule ^webinar-topic-financial webinar-topic-financial.php?slug=$1 [L,QSA]
RewriteRule ^webinar-topic-forex webinar-topic-forex.php?slug=$1 [L,QSA]
RewriteRule ^webinar-topic-investment webinar-topic-investment.php?slug=$1 [L,QSA]
RewriteRule ^webinar-topic-metal webinar-topic-metal.php?slug=$1 [L,QSA]
RewriteRule ^webinar-topic-tax webinar-topic-tax.php?slug=$1 [L,QSA]
RewriteRule ^webinar-topic-technical-analysis webinar-topic-technical-analysis.php?slug=$1 [L,QSA]
RewriteRule ^webinar-topic-technology webinar-topic-technology.php?slug=$1 [L,QSA]
RewriteRule ^webinar-topic-trading webinar-topic-trading.php?slug=$1 [L,QSA]
RewriteRule ^webinar-upcomings webinar-upcomings.php?slug=$1 [L,QSA]